{% extends "layout.html" %}

{% block title %}

    Reset password

{% endblock %}


{% block main %}

<form action="/reset-password" method="post">
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Current password:</label>
    <div class="col-sm-10">
        <input type="password" class="form-control w-50" id="old_pw" name="old_pw" placeholder="Enter current password">
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">New password:</label>
    <div class="col-sm-10">
        <input type="password" class="form-control w-50" id="new_pw" name="new_pw" placeholder="Enter new password">
    </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Confirm new password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control w-50" id="confirm_pw" name="confirm_pw" placeholder="Enter new password again">
        </div>
        </div>
    <div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Reset password</button>
    </div>
    </div>
</form>

{% endblock %}